.buttons button{
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  
}
.buttons button:disabled ion-icon{
  color:#6e6e6e;
  cursor:default;
}
.buttons button:disabled:hover ion-icon{
  color:#6e6e6e;
}
.buttons button:hover{
  cursor: pointer;
}

.buttons button ion-icon{
  color: #ee4a43;
  font-size: 50px;
  transition: all 0.2s;
  border-radius: 50%;
}
.buttons button:hover ion-icon{
 
  color: var(--primary);

}
.buttons button:active ion-icon{
  color: #f7f7f7;
}