#menu{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
}
#menu header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  transition: all 0.4s;
}

#menu #logo{
  width: 200px;
}
.nav{
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 8px;
  z-index: 6;
  border: 0;
  background: transparent;
}
.nav:hover{
  cursor: pointer;
}
.nav span{
  height: 2px;
  background-color: rgb(255, 251, 251);
  border-radius: 8px;
  transition: all 0.6s;
}

.nav span:nth-child(1){
  width: 32px;
}
.nav span:nth-child(2){
  width: 40px;
}
.nav span:nth-child(3){
  width: 24px;
}

.nav.active span:nth-child(1){
  opacity: 0;
  width: 0px;
}
.nav.active span:nth-child(2){
  width: 40px;
  transform: rotate(-45deg) translate(-6px, -6px);
}
.nav.active span:nth-child(3){
  width: 40px;
  transform: rotate(45deg) translate(-10px, -4px);
  
}
