#navBar{
  position: fixed;
  right: -1200px;
  inline-size: none;
  top:0;
  width: auto;
  height: 100vh;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.733);
  z-index: 5;
  transition: all 0.8s;
  
}
#navBar.active{
  right: 0;
}
#navBar h2{
  font-family: "font ninja" ;
  font-size: 3rem;
  color:var(--primary);
  letter-spacing: .5rem;
}
.cards{
  overflow: inherit;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding-top: 3rem;
}
.cards button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  height:155px;
  transition: all 0.9s;
  border-radius: 12px;
}

.cards button img{
  object-fit: cover;
  border-radius: 14px;
  object-position: 50% 0%;
  width: 120px;
  height: 155px;
  transition: height 0.8s, width 1s, opacity 0.4s;
}
.cards button p{
  color: transparent;
  font-size: 1.4rem;
  font-family:'roboto';
  text-transform: uppercase;
}

.cards button:hover{
  background-color: #ffffff10;
}
.cards button:hover img{
  opacity:0;
  width: 0;
  height: 0;
}
.cards button:hover p{
  color: var(--primary);
}