.section-main{
  padding:0 3rem 1rem;
  color: var(--secondary);
}
.info{
  max-width: 1500px;
}
.info h1{
  font-size: 10rem;
  font-family: "font ninja";
  color: var(--primary);
  /*text-shadow: 2px 5px 15px var(--itachi);*/
}
.info p{
  font-size: 1.5rem;
  font-family:'roboto' ;
  text-align: justify;
}
.buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}